.back{
	width: 72%;
	display: inline-block;
	margin: 10px 0px 15px 45px;
}
.back .layui-textarea{
	height: 50px!important;
	min-height: 70px!important;
}
.back .fly-edit span{
	line-height: 24px;
}
.back .fly-edit{
	height: 23px;
}
.childs-nav{
	display: none;
}
.jieda-admin:hover>.childs-nav{
	display: inline-block;

}
.fly-list li{
	height: auto!important;
}
.fly-list li p{
	text-indent: 20px;
}

#TopType li a:hover{
 color: green;
}

#TopType li a:hover::after{
	content: "\2764";
	position: absolute;
	left: 0;
}
#TopType li a:hover::before{
	content: "\2764";
	position: absolute;
	right: 0;
}